<!doctype html>
<html lang="en"><head><meta charset="utf-8"><title>Warehouse Training Video</title>
<link rel="stylesheet" href="style.css">
<script src="timing.js"></script>
<script src="engine.js"></script>
<script src="kit/base.js"></script>
<script src="kit/characters.js"></script>
<script src="kit/ui.js"></script>
<script src="kit/objects.js"></script>
<script src="kit/docs.js"></script>
</head><body>
<svg id="stage" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 1080"></svg>
<script src="player.js"></script>
</body></html>
